<div class="info-sm">
  <div class="card">
    <div class="card-header bg-body text-primary-emphasis fs-5 fw-bold">
      <i class="bi bi-emoji-sunglasses me-2 text-info"></i> {{ 'menuButtons.info' | translate }}
    </div>
    <div class="card-body info-sm__body pe-0 row my-3 me-2">
      <div class="col-12 text-center mb-4">
        <app-photo />
        <app-other-data />
      </div>
      <div class="col-12 mb-4 border-bottom pb-3">
        <div class="info-sm__career text-secondary" [innerHTML]="resumeService.infoUser()?.positionDescription"></div>
      </div>
      <div class="col-12 mb-4 border-bottom">
        <h4 class="text-secondary fw-bold"><i class="bi bi bi-mortarboard text-info"></i> {{ 'info.degrees' | translate }}:</h4>
        @for (degree of resumeService.infoUser()?.degrees; track $index) {
          <app-info-item [degree]="degree" />
        }
      </div>
      <div class="col-12 mb-4 border-bottom">
        <h4 class="text-secondary fw-bold"><i class="bi bi bi-award text-info"></i> {{ 'info.courses' | translate }}:</h4>
        @for (degree of resumeService.infoUser()?.courses; track $index) {
          <app-info-item [degree]="degree" />
        }
      </div>
    </div>
  </div>
</div>
