.skills-lg {
  &__btn {
    cursor: pointer;
    &:hover {
      color: var(--bs-primary-emphasis) !important;
    }
  }
  &__card {
    max-height: 18.2rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
