.skills-lg {
  &__btn {
    cursor: pointer;
    &:hover {
      color: var(--bs-primary-emphasis) !important;
    }
  }
  &__card {
    height: 18.4rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
