.menu-button {
  cursor: pointer;
  padding: 0.5rem 0 0.5rem 4rem;
  color: var(--bs-secondary);
  &--active {
    background-color: var(--bs-secondary-bg-subtle);
    color: var(--bs-primary-text-emphasis);
    border-left: solid 0.3rem var(--bs-primary-text-emphasis);
    padding: 0.5rem 0 0.5rem 3.7rem;
  }
}
