.title {
  > h1 {
    animation: shine 2s linear infinite;
    font-size: 9rem;
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    mask-size: 200%;
    -webkit-mask-size: 200%;
  }
  > h2 {
    font-size: 2.5rem;
  }
}
