.experience {
  &__body,
  &__menu {
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (max-width: 992px) {
  .experience {
    &__body {
      max-height: 74svh;
    }
  }
}
