.experience {
  &__body,
  &__menu {
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (max-width: 768px) {
  .experience {
    &__body {
      max-height: 69vh;
    }
  }
}
