.experience-menu-item {
  color: var(--bs-secondary);
  cursor: pointer;
  &__date {
    font-weight: 500;
  }
  &:hover {
    color: var(--bs-primary-text-emphasis);
    .experience-menu-item__img {
      filter: saturate(180%);
    }
  }
}
