.experience-menu-item {
  cursor: pointer;
  color: var(--bs-secondary);
  &__date {
    font-weight: 500;
  }
  &:hover {
    color: var(--bs-primary-text-emphasis);
  }
  &__img {
    animation: company;
    animation-duration: 0.5s;
  }
}

@keyframes company {
  from {
    -webkit-transform: scale(0.1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
