@defer (on viewport) {
  <div
    (click)="goToExperience(experience.company)"
    class="experience-menu-item d-flex flex-column mt-2 mb-5"
    role="button"
    tabindex="0"
    [attr.aria-label]="'show experience: ' + experience.company"
  >
    <div class="text-center">
      <img
        [@show]
        [alt]="experience.imageCompany"
        [src]="environment.url + experience.imageCompany"
        width="150px"
        class="experience-menu-item__img"
      />
      <p class="text-primary-emphasis experience-menu-item__date mb-0">{{ experience.startDate }} - {{ experience.endDate }}</p>
    </div>
  </div>
} @placeholder {
  <div class="experience-menu-item__spinner">
    <app-spinner />
  </div>
}
