<div class="main container">
  <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>

  <div class="row mt-2 border border rounded-5 p-2">
    <div class="row m-0 p-0">
      <div class="col-3 d-none d-xl-block">
        <app-menu> </app-menu>
      </div>
      <div class="main__body col bg-body-secondary rounded-5 p-2 p-xl-4">
        <!--<app-navbar (actionShowMenu)="showHideMenu()"></app-navbar>-->
        <nav class="navbar rounded-4 mb-1 p-0 d-xl-none">
          <div class="container-fluid">
            <button #btnMenu (click)="showHideMenu()" class="btn btn-secondary"><i class="bi bi-list"></i></button>
            <h4 class="navbar-brand">CV / Resume</h4>
          </div>
        </nav>
        <div #menu class="d-xl-none main__menu-sm">
          <app-menu-sm [show]="showMenu"></app-menu-sm>
        </div>
        <div #content>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
