<div class="main container">
  <div class="row">
    <div class="col d-none d-xl-block">
      <app-options [id]="'xl-device'" />
    </div>
  </div>

  <div class="mt-2 border border rounded-5 p-2">
    <div class="row m-0 p-0">
      <div class="col-3 d-none d-xl-block">
        <app-left-side />
      </div>
      <div class="col col-xl-9 bg-body-secondary rounded-5 p-2 p-xl-4">
        <div class="d-xl-none">
          <app-navbar #navbar />
        </div>
        <div>
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</div>
