::ng-deep {
  .card {
    border-radius: var(--bs-border-radius-xxl);
  }
  .card-header,
  .card-header:first-child,
  .card-img-top {
    border-top-left-radius: var(--bs-border-radius-xxl);
    border-top-right-radius: var(--bs-border-radius-xxl);
  }
  .list-group-flush > .list-group-item:last-child {
    border-radius: var(--bs-border-radius-xxl);
  }
  .card-header:first-child {
    border-radius: none !important;
  }

  .accordion-item:first-of-type > .accordion-header .accordion-button {
    border-top-left-radius: var(--bs-border-radius-xxl);
    border-top-right-radius: var(--bs-border-radius-xxl);
  }

  .accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: var(--bs-border-radius-xxl);
    border-bottom-left-radius: var(--bs-border-radius-xxl);
  }

  .accordion {
    --bs-accordion-border-radius: var(--bs-border-radius-xxl);
  }

  .text-secondary,
  .text-primary-emphasis {
    font-weight: 500;
  }
}
