<div class="skills-sm col-12" *ngIf="resumeService.infoUser | async as infoUser">
  <div class="card">
    <div class="card-header bg-body text-primary-emphasis fs-5 fw-bold">
      <i class="bi bi-cup-hot me-2"></i> {{ 'menuButtons.skills' | translate }}
    </div>
    <div class="card-body skills-sm__body row my-3 me-2">
      <div class="col-12 mb-3 pb-4 border-bottom">
        <h5 class="fw-bold mb-4 text-secondary"><i class="bi bi bi-mortarboard"></i> {{ 'skills.tech' | translate }}:</h5>
        <app-skill-item [skill]="item" *ngFor="let item of infoUser.skills"></app-skill-item>
      </div>
      <div class="col-12 mb-3 pb-4 border-bottom">
        <h5 class="mb-3 fw-bold mb-4 text-secondary"><i class="bi bi bi-mortarboard"></i> {{ 'skills.business' | translate }}:</h5>
        <app-skill-item [skill]="item" *ngFor="let item of infoUser.businessSkills"></app-skill-item>
      </div>
      <div class="col-12 mb-3 pb-4 border-bottom">
        <h5 class="mb-3 fw-bold mb-4 text-secondary"><i class="bi bi bi-mortarboard"></i> {{ 'skills.languages' | translate }}:</h5>
        <app-skill-item [skill]="item" *ngFor="let item of infoUser.languages"></app-skill-item>
      </div>
      <div class="col-12 mb-3 pb-4 border-bottom">
        <h5 class="mb-3 fw-bold mb-4 text-secondary"><i class="bi bi bi-graph-up"></i> {{ 'skills.growthProfesional' | translate }}:</h5>
        <app-profesional-growth [idChart]="'charSm'"></app-profesional-growth>
      </div>
    </div>
  </div>
</div>
