.accordion {
  &__info {
    text-align: justify;
  }
}
@media (min-width: 992.1px) {
  .accordion {
    &__info {
      height: 14.5rem;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
