.publications {
  &__body {
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (max-width: 992px) {
  .publications {
    &__body {
      max-height: 74vh;
    }
  }
}
