.experience-item {
  text-align: justify;
  &__date {
    font-size: 0.7rem;
  }
  &__company {
    font-size: 2.5rem;
  }
  &__project {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .experience-item {
    text-align: left;
  }
}
