/* You can add global styles to this file, and also import other style files */
//ScrollBar
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b2b2;
}

.card {
  border-radius: var(--bs-border-radius-xxl);
}

.card-header {
  padding-top: 1rem;
  padding-left: 1.25rem;
}

.card-header,
.card-header:first-child,
.card-img-top {
  border-top-left-radius: var(--bs-border-radius-xxl);
  border-top-right-radius: var(--bs-border-radius-xxl);
}
.list-group-flush > .list-group-item:last-child {
  border-radius: var(--bs-border-radius-xxl);
}
.card-header:first-child {
  border-radius: none !important;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: var(--bs-border-radius-xxl);
  border-top-right-radius: var(--bs-border-radius-xxl);
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: var(--bs-border-radius-xxl);
  border-bottom-left-radius: var(--bs-border-radius-xxl);
}

.accordion {
  --bs-accordion-border-radius: var(--bs-border-radius-xxl);
}

.text-secondary,
.text-primary-emphasis {
  font-weight: 500;
}

.main {
  &__body {
    position: relative;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0 1rem 0 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
