@use 'sass:map';
@use 'sass:color'; // Importante para manipular colores

$primary: #373d3f;
$secondary: #717e84;
$success: #0da673;
$info: #0094b3;
$warning: #ffc008;
$danger: #ff4c4c;
$light: #f0f2f3;

$my-theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
);

@use 'bootstrap/scss/bootstrap' with (
  $theme-colors: $my-theme-colors,
  $accordion-button-active-bg: var(--bs-tertiary-bg),
  $form-check-input-checked-bg-color: $info,
  $form-check-input-checked-border-color: $info
);

@use 'bootstrap-icons/font/bootstrap-icons.scss';

:root,
[data-bs-theme='light'] {
  @each $name, $value in $my-theme-colors {
    // In light mode, the emphasis is usually a slightly darker version of the color.
    --bs-#{$name}-text-emphasis: #{color.adjust($value, $lightness: -10%)};
    --bs-#{$name}-bg-subtle: #{color.adjust($value, $lightness: 85%)};
    --bs-#{$name}-border-subtle: #{color.adjust($value, $lightness: 70%)};
  }
}

[data-bs-theme='dark'] {
  @each $name, $value in $my-theme-colors {
    // In dark mode, the emphasis should be a lighter version of the color
    --bs-#{$name}-text-emphasis: #{color.adjust($value, $lightness: 40%)}; // Brightens the text
    --bs-#{$name}-bg-subtle: #{color.adjust($value, $lightness: -70%)}; // Very dark background
    --bs-#{$name}-border-subtle: #{color.adjust($value, $lightness: -50%)};
  }
}

.accordion-button {
  &::after {
    color: inherit;
  }
  &:not(.collapsed)::after,
  &.collapsed::after {
    filter: brightness(0) saturate(100%) invert(56%) sepia(6%) saturate(190%) hue-rotate(162deg) brightness(92%) contrast(85%);
  }
}

[data-bs-theme='dark'] {
  .accordion {
    --bs-accordion-active-bg: var(--bs-tertiary-bg);
    --bs-accordion-active-color: #{color.adjust($primary, $lightness: 40%)};
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #{rgba($secondary, 0.25)};
  }
}

//ScrollBar
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b2b2;
}

.card {
  border-radius: var(--bs-border-radius-xxl);
}

.card-header {
  padding-left: 1.25rem;
  padding-top: 1rem;
}

.card-header,
.card-header:first-child,
.card-img-top {
  border-top-left-radius: var(--bs-border-radius-xxl);
  border-top-right-radius: var(--bs-border-radius-xxl);
}
.list-group-flush > .list-group-item:last-child {
  border-radius: var(--bs-border-radius-xxl);
}
.card-header:first-child {
  border-radius: none !important;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: var(--bs-border-radius-xxl);
  border-top-right-radius: var(--bs-border-radius-xxl);
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-left-radius: var(--bs-border-radius-xxl);
  border-bottom-right-radius: var(--bs-border-radius-xxl);
}

.accordion {
  --bs-accordion-border-radius: var(--bs-border-radius-xxl);
}

.fw-bold {
  font-weight: 500 !important;
}

.text-secondary,
.text-primary-emphasis {
  font-weight: 500;
}

.main {
  &__body {
    position: relative;
  }
}

@media (max-width: 768px) {
  .main {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
