.img-fluid {
  animation: photoLg;
  animation-duration: 0.5s;
}

@media (max-width: 991.98px) {
  .img-fluid {
    animation: photoSm;
    animation-duration: 0.5s;
    max-width: 55%;
  }
}

@keyframes photoSm {
  from {
    -webkit-box-shadow: 0 0 0.1rem 0.1rem var(--bs-info-border-subtle);
    filter: blur(10px);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  to {
    -webkit-box-shadow: 0 0 0.3rem 0.3rem var(--bs-info-border-subtle);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: none;
  }
}

@keyframes photoLg {
  from {
    -webkit-box-shadow: 0 0 0.1rem 0.1rem var(--bs-info-border-subtle);
    filter: blur(10px);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  to {
    -webkit-box-shadow: 0 0 0.3rem 0.3rem var(--bs-info-border-subtle);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: none;
  }
}
