@if (resumeService.infoUser(); as infoUser) {
  <div class="photo text-center">
    <div class="photo-header mb-3">
      <h2 class="photo-header__title text-info">{{ infoUser.position }}</h2>
    </div>
    <div class="photo__body">
      <img
        [@entrance]
        alt="Juan Manuel Muñoz González Front-End Architect"
        src="assets/images/photo.webp"
        fetchpriority="high"
        width="200"
        height="200"
        class="img-fluid rounded-circle mb-2"
      />
    </div>
    <div class="photo__footer mt-2">
      <app-user-data />
    </div>
  </div>
}
