<div class="card-user card" *ngIf="resumeService.infoUser | async as infoUser">
  <div class="card-header bg-body text-primary-emphasis fs-5 fw-bold">
    <i class="bi bi-person-bounding-box me-2"></i> {{ 'info.personalInfo' | translate }}
  </div>
  <img src="assets/images/photo.jpg" alt="Front-end Architect" class="img-fluid" />
  <div class="card-body">
    <p class="text-primary-emphasis mb-0"><i class="bi bi-person me-2"></i>{{ infoUser.name }}</p>
    <p class="text-primary-emphasis mb-0"><i class="bi bi-cake2 me-2"></i>{{ infoUser.age }}</p>
    <p class="text-primary-emphasis mb-0"><i class="bi bi-envelope me-2"></i>{{ infoUser.email }}</p>
    <p class="text-primary-emphasis mb-3"><i class="bi bi-geo-alt me-2"></i>{{ infoUser.city }}</p>
    <div class="alert alert-info fw-bold text-center mb-0" role="alert">
      <i class="bi bi-exclamation-triangle"></i> {{ 'info.fullRemote' | translate }}
    </div>
  </div>
</div>
