.img-fluid {
  animation: photo;
  animation-duration: 1s;
}

.alert {
  animation: alert;
  animation-duration: 0.5s;
}

@keyframes photo {
  from {
    filter: opacity(0.2);
  }
  to {
    filter: opacity(1);
  }
}

@keyframes alert {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1);
  }
  to {
    opacity: 0.8;
    -webkit-transform: scale(1);
  }
}
